{% extends 'PPEhopitalBundle:Default:base.html.twig' %}
{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="{{ asset('bundles/ppehopital/images/pediatrie.jpg') }}" alt="">
            </div>
            <div class="col-md-4">
                <h1>Pédiatrie</h1>
                <p>Le service de P&eacute;diatrie accueille les enfants souffrant de pathologie m&eacute;dicale jusque 15 ans et 3 mois. Diverses associations interviennent dans le service pour le bien-&ecirc;tre des petits patients. La n&eacute;onatalogie prend en charge les b&eacute;b&eacute;s pr&eacute;matur&eacute;s et les nouveaux-n&eacute;s malades.</p>
                <p>Le service travaille en lien avec le r&eacute;seau de p&eacute;rinatalit&eacute; <a href="http://www.ombrel.fr/" target="_blank">OMBREL</a>&nbsp;et les PMI (Protection Maternelle et Infantile)</p>
            </div>
        </div>


        <hr>


        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Le service participe à certains réseaux locaux et régionaux en oncologie pédiatrique (Pedonco), neurologie (Neurodev), pour les unités de surveillance continue, l’obésité (Vif), les maladies respiratoires et allergiques mais aussi à des projets de recherche clinique dans différentes spécialités et au centre de compétences en rhumatologie pédiatrique Lille-Roubaix-Amiens.
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>L’hospitalisation conventionnelle</h2>
                <p>Au 2&egrave;me &eacute;tage avec 25 lits dans 20 chambres dont 4 chambres en unit&eacute; de surveillance continue m&eacute;dico-chirurgicale, 5 chambres individuelles et 11 chambres pouvant accueillir 2 enfants et 2 accompagnants. Le service dispose &eacute;galement de 10 lits de m&eacute;decine au 3&egrave;me &eacute;tage.</p>
            </div>

            <div class="col-md-4">
                <h2>Une unité de surveillance continue médico-chirurgicale</h2>
                <p>Au 2&egrave;me &eacute;tage avec 4 chambres destin&eacute;es &agrave; l&rsquo;accueil des enfants porteurs de pathologies n&eacute;cessitant une surveillance accrue avec un personnel d&eacute;di&eacute; et des technologies de surveillance performantes.</p>
            </div>

            <div class="col-md-4">
                <h2>L’hôpital de jour et soins techniques ambulatoires</h2>
                <p>au 2&egrave;me &eacute;tage avec 5 lits ouverts du lundi au vendredi. L&rsquo;h&ocirc;pital de jour accueille les enfants pour :<br /> - les actes techniques et examens compl&eacute;mentaires.<br /> - les examens d&rsquo;imagerie sous s&eacute;dation consciente (IRM, scanner).<br /> - les explorations sp&eacute;cialis&eacute;es d&rsquo;endocrinologie, pneumologie (fibroscopie), neurologie, gastro-ent&eacute;rologie (fibroscopie)&hellip;<br /> - les tests de provocation orale en allergologie alimentaire et m&eacute;dicamenteuse.<br /> - les chimioth&eacute;rapies en lien avec le r&eacute;seau Pedonco.</p>
            </div>

        </div>

    </div>
{% endblock %}